= simple_form_for(@status) do |f|
  = f.error_notification
  .container 
    .row
      .span4.offset1
        = f.label :title
        = f.text_field :title, :class => :span4
      .span3
        = f.input :environment_affected, :collection => ["Production", "Development"], :selected => "Production"
      = f.fields_for :status_updates do |status_updates_form| 
        .span4
          = status_updates_form.input :state, :collection => ["Investigating", "Issue", "Resolved", "Monitoring", "Update"], :selected => "Investigating"
        .row
          .span8.offset2
            = status_updates_form.input :content, :input_html => {:class => :span8, :style => "height: 200px;"}
    - if PagerDuty.subdomain.present?
      .row 
        .span4 
          = f.label "Link to Service"
          = f.input :service_integration_id, :collection => PagerDuty.new.get_incidents


  .form-actions
    %center
      = f.button :submit, :class => 'btn btn-inverse'
