- statuses.each do |status| 
  %table.table.table-bordered.status-table-small
    %thead.well
      %th 
        .pull-left
          =link_to status.title, status
        .pull-right
          %b= status.environment_affected
          - if status.duration.nil?
            %button.btn.btn-danger.btn-mini
              =status.duration || time_ago_in_words(status.created_at) 
              ago
          - else 
            %button.btn.btn-inverse.disabled.btn-mini
              = "#{status.duration}m Duration"
    %tbody 
      %tr 
        %td.well 
          %div
            = simple_format status.status_updates.first.content
            %br
          .pull-right.read-more
            = link_to "Read more...", status
          - if status.service_integration_id.present?
            .pull-left.read-more
              =link_to "PagerDuty", PagerDuty.incident_link(status.service_integration_id)
