- model_class = Status

.container
  .row 
    .span5.offset1
      %h5 
        %center Production
      = render :partial => 'list', :locals => { :statuses => Status.production }
    .span5.offset1
      %h5 
        %center Development
      = render :partial => 'list', :locals => { :statuses => Status.development }


.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:duration)
      %th= model_class.human_attribute_name(:environment_affected)
      %th= model_class.human_attribute_name(:closed)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @statuses.each do |status|
      %tr
        %td= link_to status.id, status_path(status)
        %td= status.title
        %td= status.duration
        %td= status.environment_affected
        %td= status.closed
        %td=l status.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_status_path(status), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), status_path(status), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_status_path, :class => 'btn btn-primary'
