- model_class = Status
%table.table.table-bordered.status-table.span9.offset1
  %thead.well
    %th 
      .pull-left
        =link_to @status.title, @status
      .pull-right
        %b= @status.environment_affected
        %button.btn.btn-danger.btn-mini 10m
  %tbody 
    - @status.status_updates.each do |update| 
      %tr 
        %td.well
          .status-header=update.state
          .status-content=update.content
          .status-date 
            Posted 
            = time_ago_in_words(update.updated_at)
            ago, 
            = update.updated_at.strftime("%B %d,%Y %H:%M %p %Z")

%table.table.table-bordered.status-table.span9.offset1
  %thead.well
    %th New Status Update
  %tbody 
    %tr 
      %td.well
        = simple_form_for(@status_update) do |f| 
          .row
            .span8
              = f.input :content, :input_html => {:class => :span8, :style => "height: 100px;"}
          .row
            .span8
              = f.input :state, :collection => ["Investigating", "Issue", "Resolved", "Monitoring", "Update"], :selected => "Investigating", :input_html => { :class => :span8 }
          %center
            = f.submit "Update Incident", :class => "btn btn-inverse"

